bin/
obj/
Temp/
Projects/UnityTest_Voxel1/*.sln
Projects/UnityTest_Voxel1/*.csproj
Projects/UnityTest_Voxel1/Library/
Projects/UnityTest_MC/Unity/MarchingCubesTest/*.sln
Projects/UnityTest_MC/Unity/MarchingCubesTest/*.csproj
Projects/UnityTest_MC/Unity/MarchingCubesTest/Library/
*.suo
*.user
*.cachefile
*.pidb
*.userprefs
StyleCop.Cache
Settings.StyleCop