bin/
obj/
Temp/
Projects/UnityTest_Voxel1/*.sln
Projects/UnityTest_Voxel1/*.csproj
Projects/UnityTest_Voxel1/Library/
Projects/UnityTest_Voxel1/Temp/
Projects/UnityTest_MC/Unity/MarchingCubesTest/*.sln
Projects/UnityTest_MC/Unity/MarchingCubesTest/*.csproj
Projects/UnityTest_MC/Unity/MarchingCubesTest/Library/
Projects/UnityTest_MC/Unity/MarchingCubesTest/Temp/
Projects/UnityTest_MC2/Unity/MCTest2/*.sln
Projects/UnityTest_MC2/Unity/MCTest2/*.csproj
Projects/UnityTest_MC2/Unity/MCTest2/Library/
Projects/UnityTest_MC2/Unity/MCTest2/Temp/
Projects/UnityTest_MC2/Unity4/MCTest2/*.sln
Projects/UnityTest_MC2/Unity4/MCTest2/*.csproj
Projects/UnityTest_MC2/Unity4/MCTest2/Library/
Projects/UnityTest_MC2/Unity4/MCTest2/Temp/
Projects/UnityTest_MS/Unity4/MS/*.sln
Projects/UnityTest_MS/Unity4/MS/*.csproj
Projects/UnityTest_MS/Unity4/MS/Library/
Projects/UnityTest_MS/Unity4/MS/Temp/
*Dwarves.Core.dll
*Dwarves.Component.dll
*.suo
*.user
*.cachefile
*.pidb
*.userprefs
StyleCop.Cache
Settings.StyleCop