[submodule "Docs"]
	path = Docs
	url = git@github.com:andynygard/Dwarves.Docs.git
[submodule "Libraries/EntitySystem"]
	path = Libraries/EntitySystem
	url = git@github.com:andynygard/EntitySystem.git
[submodule "Libraries/FarseerPhysics"]
	path = Libraries/FarseerPhysics
	url = https://github.com/d-snp/Farseer-Physics.git
